name: Set up S3 Buckets

on: [workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Change to your desired AWS region

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0

    - name: Terraform init
      working-directory: ./terraform/live/global/s3
      run: terraform init
    
    - name: Set Terraform Variables
      run: |
        echo "TF_VAR_s3_drop_zone_bucket=s3-drop-zone-12134477a" >> $GITHUB_ENV
        echo "TF_VAR_s3_snowflake_bucket=snowflake-drop-zone-12134477a" >> $GITHUB_ENV

    - name: Terraform plan
      working-directory: ./terraform/live/global/s3
      id: tf-plan
      run: terraform plan -out=tfplan
      
    - name: Terraform apply 
      if: github.ref == 'refs/heads/main'
      working-directory: ./terraform/live/global/s3
      run: terraform apply -auto-approve tfplan

    - name: Read variable
      run: echo "test ${{ vars.DESTROY }}"

    - name: Clean up
      if: ${{ vars.DESTROY }} == 'true'
      working-directory: ./terraform/live/global/s3
      run: terraform destroy -auto-approve

# Add any additional steps or customizations as needed